h1,
h2,
h3 {
  margin-bottom: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  //font-size: 1.9rem;
}

p {
  margin-bottom: 1.6rem;
}

.post {
  &__title {
    font-size: 2rem;
  }

  &__image,
  &__date,
  &__stats {
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__category {
    font-weight: 400;
    color: #fff;
  }

  &__body p {
  }
}

.comment {
  .author--name {
    font-weight: 500;
  }
}
