nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 5px 0 rgba(153, 153, 153, 0.75);
  background-color: rgba(mediumpurple, 0.85);
  backdrop-filter: blur(2rem);
  z-index: 10;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 96rem;
    margin: 0 auto;
    padding: 1.6rem 0;

    &__brand {
    }

    &__menu {
      list-style: none;
      display: flex;
      align-items: center;

      &-item {
        position: relative;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 2px;
          padding: 0.4rem 1.6rem;
          font-weight: 500;
          color: #fff;
          border: 1px solid transparent;
          transition: all 0.2s ease-in;

          &:hover,
          &.active {
            border: 1px solid #ccc;
          }

          &:hover {
            background-color: orange;
          }

          &:active,
          &.active {
            background-color: darken(orange, 5);
          }
        }
      }
    }
  }
}
